@page "/login"
@using Newtonsoft.Json;

@layout LoginLayout
@inject ILoginService LoginService
@inject NavigationManager Navigation;

<h1>Login</h1>

@if (token != null)
{
    <p>@token</p>
}

<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" @bind-value="@loginRequest.UserName">
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" @bind-value="@loginRequest.Password">
</div>

<button type="submit" class="btn btn-primary" @onclick="Login">Submit</button>

@code {
    public LoginRequest loginRequest = new LoginRequest()
    {
        UserName="mamatkulov@uzcsd.uz",
        Password="lpnz2xoflf6c"
    };

    public string token { get; set; }

    private async Task Login()
    {
        var jsonResponse = await LoginService.LoginAsync(loginRequest);
        var loginResponse = JsonConvert.DeserializeObject<LoginResponse>(jsonResponse);
        if (loginResponse != null)
        {
            token = loginResponse.Token;
        }
    }

}